# Configuración para tu entorno de desarrollo (Neon) o Docker
DATABASE_URL=postgresql://usuario:password@ep-tu-endpoint.neon.tech/tu_db?sslmode=require
SECRET_KEY=tu_super_secreto_aqui_para_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
