# Configuración de Base de Datos (Neon / Local)
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=ep-tu-endpoint.neon.tech
DB_PORT=5432

# Configuración de Seguridad para Tokens JWT
SECRET_KEY=tu_super_secreto_aqui_para_jwt
ALGORITHM=HS256
